In [1]:
import pandas as pd
import numpy as np

In [2]:
automobile=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Preparing data for ML/mympgprocess.csv')

In [3]:
automobile.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
x=automobile.drop(['mpg','origin','car name'],axis=1)
y=automobile['mpg']

In [5]:
from sklearn.linear_model import Lasso

In [7]:
lasso=Lasso(alpha=0.8)
lasso.fit(x,y)

Lasso(alpha=0.8)

In [8]:
predictors=x.columns
coef=pd.Series(lasso.coef_,predictors).sort_values()
print(coef)

horsepower     -0.009805
weight         -0.006317
cylinders      -0.000000
displacement    0.000000
acceleration    0.000000
model year      0.681088
dtype: float64

In [9]:
lasso_features=['horsepower','weight']
x[lasso_features].head()

   horsepower  weight
0         130    3504
1         165    3693
2         150    3436
3         150    3433
4         140    3449

In [10]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
decision_tree=DecisionTreeRegressor(max_depth=4)
decision_tree.fit(x,y)

DecisionTreeRegressor(max_depth=4)

In [14]:
predictors=x.columns
coef=pd.Series(decision_tree.feature_importances_,predictors).sort_values()
print(coef)

cylinders       0.000000
acceleration    0.000000
weight          0.052630
model year      0.117448
horsepower      0.179919
displacement    0.650003
dtype: float64

In [15]:
decision_tree_feature=['displacement','horsepower']
x[decision_tree_feature].head()

   displacement  horsepower
0         307.0         130
1         350.0         165
2         318.0         150
3         304.0         150
4         302.0         140

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [27]:
def build_model(x,y,test_frac):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=test_frac)
    model=LinearRegression().fit(x_train,y_train)
    y_pred=model.predict(x_test)
    
    print("test score:",r2_score(y_test,y_pred))

In [28]:
build_model(x[lasso_features],y,0.2)

test score: 0.7268987192215639

In [29]:
build_model(x[decision_tree_feature],y,0.2)

test score: 0.6717826064436266