In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
imp=IterativeImputer(max_iter=100,random_state=0)

In [4]:
features=[[4,2,1],[24,12,6],[8,np.nan,2]]

In [5]:
imp.fit(features)
imp.transform(features)

array([[ 4.        ,  2.        ,  1.        ],
       [24.        , 12.        ,  6.        ],
       [ 8.        ,  4.00000012,  2.        ]])

In [6]:
diabetes=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Preparing data for ML/diabetes_process_incomplete.csv')

In [7]:
diabetes.head(5)

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,2,8,183.0,64.0,32.0,NaN,23.3,0.672,32,1
3,3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [8]:
diabetes.isnull().sum()

Unnamed: 0                    0
Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                     374
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [9]:
diabetes_features=diabetes.drop(['Unnamed: 0','Outcome'],axis=1)

In [10]:
diabetes_label=diabetes[['Outcome']]

In [11]:
diabetes_features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31
2,8,183.0,64.0,32.0,NaN,23.3,0.672,32
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33

In [12]:
imp=IterativeImputer(max_iter=10000,random_state=0)

In [13]:
imp.fit(diabetes_features)

IterativeImputer(max_iter=10000, random_state=0)

In [14]:
diabetes_features_arr=imp.transform(diabetes_features)

In [15]:
diabetes_features_arr.shape

(768, 8)

In [16]:
diabetes_features=pd.DataFrame(diabetes_features_arr,columns=diabetes_features.columns)
diabetes_features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,219.028414,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,70.341550,26.6,0.351,31.0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0

In [17]:
diabetes=pd.concat([diabetes_features,diabetes_label],axis=1)
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,219.028414,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,70.341550,26.6,0.351,31.0,0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0,1

In [18]:
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [21]:
diabetes.to_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Preparing data for ML/diabetes_process_complete.csv')

In [22]:
%ls

 Volume in drive C is OSDISK
 Volume Serial Number is 687E-4025

 Directory of C:\Users\shubham.chhetri\Desktop\MYPROJECT\Machine learning\Preparing data for ML

24-Jun-20  01:45 PM    <DIR>          .
24-Jun-20  01:45 PM    <DIR>          ..
24-Jun-20  01:15 PM    <DIR>          .ipynb_checkpoints
23-Jun-20  05:47 PM            52,968 BaselineRegressionModel.ipynb
22-Jun-20  03:23 PM            18,121 datasets_auto-mpg.csv
24-Jun-20  12:24 PM            23,873 diabetes.csv
24-Jun-20  01:45 PM            43,667 diabetes_process_complete.csv
24-Jun-20  12:53 PM            35,344 diabetes_process_incomplete.csv
24-Jun-20  01:44 PM            20,167 MultivariateFeature.ipynb
22-Jun-20  05:46 PM            19,288 mympgprocess.csv
23-Jun-20  03:01 PM           261,773 ReadCleanExploreDataset.ipynb
24-Jun-20  12:54 PM            25,498 UnivariateFeatureImputation.ipynb
               9 File(s)        500,699 bytes
               3 Dir(s)  394,527,432,704 bytes free