In [1]:
import pandas as pd
import numpy as np

In [2]:
diabetes=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Preparing data for ML/diabetes.csv')

In [3]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
def get_selected_features(x,x_new):
    selected_features=[]
    
    for i in range(len(x_new.columns)):
        for j in range(len(x.columns)):
            if(x_new.iloc[:,i].equals(x.iloc[:,j])):
                print(x.columns[j])
                selected_features.append(x.columns[j])
                
    return selected_features

In [5]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [6]:
x=diabetes.drop('Outcome',axis=1)
y=diabetes['Outcome']

In [7]:
x.shape

(768, 8)

In [8]:
x=x.astype(np.float64)

In [9]:
test=SelectKBest(score_func=chi2,k=4)
fit=test.fit(x,y)

In [10]:
fit.scores_

array([ 111.51969064, 1411.88704064,   17.60537322,   53.10803984,
       2175.56527292,  127.66934333,    5.39268155,  181.30368904])

In [11]:
feature_score=pd.DataFrame()
for i in range(x.shape[1]):
    new=pd.DataFrame({'Features':x.columns[i],
                       'score':fit.scores_[i]},index=[i])
    feature_score=pd.concat([feature_score,new])

In [12]:
feature_score

                   Features        score
0               Pregnancies   111.519691
1                   Glucose  1411.887041
2             BloodPressure    17.605373
3             SkinThickness    53.108040
4                   Insulin  2175.565273
5                       BMI   127.669343
6  DiabetesPedigreeFunction     5.392682
7                       Age   181.303689

In [13]:
x_new=fit.transform(x)

In [14]:
x_new=pd.DataFrame(x_new)
x_new.head()

       0      1     2     3
0  148.0    0.0  33.6  50.0
1   85.0    0.0  26.6  31.0
2  183.0    0.0  23.3  32.0
3   89.0   94.0  28.1  21.0
4  137.0  168.0  43.1  33.0

In [15]:
selected_features=get_selected_features(x,x_new)
selected_features

Glucose
Insulin
BMI
Age

['Glucose', 'Insulin', 'BMI', 'Age']

In [16]:
x[selected_features].head()

   Glucose  Insulin   BMI   Age
0    148.0      0.0  33.6  50.0
1     85.0      0.0  26.6  31.0
2    183.0      0.0  23.3  32.0
3     89.0     94.0  28.1  21.0
4    137.0    168.0  43.1  33.0

In [17]:
chi2_best_features=x[selected_features]

In [18]:
from sklearn.feature_selection import f_classif,SelectPercentile
test=SelectPercentile(f_classif,percentile=80)
fit=test.fit(x,y)

In [20]:
fit.scores_

array([ 39.67022739, 213.16175218,   3.2569504 ,   4.30438091,
        13.28110753,  71.7720721 ,  23.8713002 ,  46.14061124])

In [21]:
x_new=fit.transform(x)

In [22]:
x_new=pd.DataFrame(x_new)
x_new.head()

     0      1      2     3      4     5
0  6.0  148.0    0.0  33.6  0.627  50.0
1  1.0   85.0    0.0  26.6  0.351  31.0
2  8.0  183.0    0.0  23.3  0.672  32.0
3  1.0   89.0   94.0  28.1  0.167  21.0
4  0.0  137.0  168.0  43.1  2.288  33.0

In [23]:
selected_features=get_selected_features(x,x_new)
selected_features

Pregnancies
Glucose
Insulin
BMI
DiabetesPedigreeFunction
Age

['Pregnancies', 'Glucose', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']

In [24]:
f_classif_best_features=x[selected_features]

In [26]:
f_classif_best_features

     Pregnancies  Glucose  Insulin   BMI  DiabetesPedigreeFunction   Age
0            6.0    148.0      0.0  33.6                     0.627  50.0
1            1.0     85.0      0.0  26.6                     0.351  31.0
2            8.0    183.0      0.0  23.3                     0.672  32.0
3            1.0     89.0     94.0  28.1                     0.167  21.0
4            0.0    137.0    168.0  43.1                     2.288  33.0
..           ...      ...      ...   ...                       ...   ...
763         10.0    101.0    180.0  32.9                     0.171  63.0
764          2.0    122.0      0.0  36.8                     0.340  27.0
765          5.0    121.0    112.0  26.2                     0.245  30.0
766          1.0    126.0      0.0  30.1                     0.349  47.0
767          1.0     93.0      0.0  30.4                     0.315  23.0

[768 rows x 6 columns]

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [28]:
def build_model(x,y,test_frac):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=test_frac)
    model=LogisticRegression(solver='liblinear').fit(x_train,y_train)
    y_pred=model.predict(x_test)
    
    print("test score:",accuracy_score(y_test,y_pred))

In [29]:
build_model(x,y,0.2)

test score: 0.8051948051948052

In [30]:
build_model(chi2_best_features,y,0.2)

test score: 0.7402597402597403

In [31]:
build_model(f_classif_best_features,y,0.2)

test score: 0.7337662337662337