In [70]:
import sklearn
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [71]:
scikit_learn_version=sklearn.__version__
scikit_learn_version

'0.23.1'

In [72]:
%ls

 Volume in drive C is OSDISK
 Volume Serial Number is 687E-4025

 Directory of C:\Users\shubham.chhetri\Desktop\MYPROJECT\Machine learning\Deploying ML Solutions

09-Jul-20  06:05 PM    <DIR>          .
09-Jul-20  06:05 PM    <DIR>          ..
09-Jul-20  05:23 PM    <DIR>          .ipynb_checkpoints
09-Jul-20  05:15 PM             9,871 automobilies_file1.csv
09-Jul-20  05:18 PM             9,903 automobilies_file2.csv
09-Jul-20  06:05 PM            10,002 automobilies_test.csv
09-Jul-20  02:11 PM            26,717 CarPrice_Assignment.csv
09-Jul-20  03:30 PM    <DIR>          models
09-Jul-20  06:04 PM             4,435 RetrainingFromCheckpoint.ipynb
09-Jul-20  03:33 PM            31,175 SerializingSKlearnModels.ipynb
               6 File(s)         92,103 bytes
               4 Dir(s)  391,391,264,768 bytes free

In [73]:
automobiles_train=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Deploying ML Solutions/automobilies_file1.csv')

In [74]:
automobiles_train.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [75]:
automobiles_train.shape

(75, 26)

In [76]:
automobiles_train.drop(['car_ID', 'symboling', 'CarName'],axis=1,inplace=True)

In [77]:
automobiles_train=pd.get_dummies(automobiles_train)
automobiles_train.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,0,1,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,0,1,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,0,1,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,0,1,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,0,1,0

In [78]:
automobiles_train.shape

(75, 48)

In [79]:
automobiles_test=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Deploying ML Solutions/automobilies_test.csv')

In [80]:
automobiles_test.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [81]:
automobiles_test.shape

(76, 26)

In [82]:
automobiles_test.drop(['car_ID', 'symboling', 'CarName'],axis=1,inplace=True)

In [83]:
automobiles_test=pd.get_dummies(automobiles_test)
automobiles_test.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,0,1,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,0,1,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,0,1,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,0,1,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,0,1,0

In [84]:
automobiles_test.shape

(76, 48)

In [85]:
x_train=automobiles_train.drop('price',axis=1)
y_train=automobiles_train['price']

In [86]:
x_test=automobiles_test.drop('price',axis=1)
y_test=automobiles_test['price']

In [87]:
regressor_model=RandomForestRegressor(n_estimators=5,warm_start=True)
rfr_model=regressor_model.fit(x_train,y_train)
rfr_model

RandomForestRegressor(n_estimators=5, warm_start=True)

In [88]:
training_score=rfr_model.score(x_train,y_train)
training_score

0.9841259766904208

In [89]:
y_pred=rfr_model.predict(x_test)

In [90]:
testing_score=r2_score(y_test,y_pred)
testing_score

0.9837673756301625

In [92]:
rfr_model_param={}
rfr_model_param['model']=rfr_model
rfr_model_param['sklearn_version']=scikit_learn_version
rfr_model_param['r2_score']=testing_score

In [93]:
rfr_model_param

{'model': RandomForestRegressor(n_estimators=5, warm_start=True),
 'sklearn_version': '0.23.1',
 'r2_score': 0.9837673756301625}

In [94]:
import joblib

In [95]:
filename='models/rfr_model_checkpoint.joblib'

In [96]:
joblib.dump(rfr_model_param,filename)

['models/rfr_model_checkpoint.joblib']

In [97]:
joblib_model=joblib.load(filename)

In [98]:
joblib_model['model']

RandomForestRegressor(n_estimators=5, warm_start=True)

In [99]:
joblib_model['sklearn_version']

'0.23.1'

In [100]:
joblib_model['model'].n_estimators=15
joblib_model['model']

RandomForestRegressor(n_estimators=15, warm_start=True)

In [101]:
automobiles_retrain=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Deploying ML Solutions/automobilies_file2.csv')

In [102]:
automobiles_retrain.shape

(75, 26)

In [104]:
automobiles_retrain.drop(['car_ID', 'symboling', 'CarName'],axis=1,inplace=True)

In [105]:
automobiles_retrain=pd.get_dummies(automobiles_retrain)
automobiles_retrain.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,cylindernumber_eight,cylindernumber_four,cylindernumber_six,fuelsystem_2bbl,fuelsystem_idi,fuelsystem_mpfi,fuelsystem_spdi
0,102.7,178.4,68.0,54.8,2910,140,3.78,3.12,8.0,175,...,1,0,0,0,1,0,0,0,1,0
1,93.7,157.3,64.4,50.8,1918,92,2.97,3.23,9.4,68,...,1,0,0,0,1,0,1,0,0,0
2,93.7,157.3,64.4,50.8,1944,92,2.97,3.23,9.4,68,...,1,0,0,0,1,0,1,0,0,0
3,93.7,157.3,64.4,50.8,2004,92,2.97,3.23,9.4,68,...,1,0,0,0,1,0,1,0,0,0
4,93.0,157.3,63.8,50.8,2145,98,3.03,3.39,7.6,102,...,1,0,0,0,1,0,0,0,0,1

In [106]:
x_train=automobiles_retrain.drop('price',axis=1)
y_train=automobiles_retrain['price']

In [107]:
rfr_retrained_model=joblib_model['model'].fit(x_train,y_train)

In [108]:
retrained_training_score=rfr_retrained_model.score(x_train,y_train)
retrained_training_score

ValueError: Number of features of the model must match the input. Model n_features is 47 and input n_features is 42

In [ ]:
y_pred=rfr_retrained_model.predict(x_test)

In [ ]:
testing_score=r2_score(y_test,y_pred)
testing_score

In [ ]:
rfr_retrained_model_param={}
rfr_retrained_model_param['model']=rfr_retrained_model
rfr_retrained_model_param['sklearn_version']=scikit_learn_version
rfr_retrained_model_param['r2_score']=testing_score

In [ ]:
filename='models/retrain_rfr_model_checkpoint.joblib'

In [ ]:
joblib.dump(rfr_model_param,filename)